<tr>
    <td>[TEAM-BOX]</td>
    <td>
        [DraftKings_AWAY_SPREAD]
        [DraftKings_HOME_SPREAD]

        [DraftKings_OVER]
        [DraftKings_UNDER]

        [DraftKings_AWAY_LINE]
        [DraftKings_HOME_LINE]
    </td>
    <td>
        [FanDuel_AWAY_SPREAD]
        [FanDuel_HOME_SPREAD]

        [FanDuel_OVER]
        [FanDuel_UNDER]

        [FanDuel_AWAY_LINE]
        [FanDuel_HOME_LINE]
    </td>
    <td>
        [Sugarhouse_AWAY_SPREAD]
        [Sugarhouse_HOME_SPREAD]

        [Sugarhouse_OVER]
        [Sugarhouse_UNDER]

        [Sugarhouse_AWAY_LINE]
        [Sugarhouse_HOME_LINE]
    </td>
    <td>
        [BetMGM_AWAY_SPREAD]
        [BetMGM_HOME_SPREAD]

        [BetMGM_OVER]
        [BetMGM_UNDER]

        [BetMGM_AWAY_LINE]
        [BetMGM_HOME_LINE]
    </td>
    <td>
        [Unibet_AWAY_SPREAD]
        [Unibet_HOME_SPREAD]

        [Unibet_OVER]
        [Unibet_UNDER]

        [Unibet_AWAY_LINE]
        [Unibet_HOME_LINE]
    </td>
    <td>
        [PointsBet_AWAY_SPREAD]
        [PointsBet_HOME_SPREAD]

        [PointsBet_OVER]
        [PointsBet_UNDER]

        [PointsBet_AWAY_LINE]
        [PointsBet_HOME_LINE]
    </td>
</tr>