<tr>
    <td class="scores-table-left-col">
    <div class="left"><img src="[TEAM_LOGO]" class="team-img-small"></div>
    <div class="left scores-name">
        <strong>[TEAM_NAME]</strong><br/>
        <small>([WINS]-[LOSSES], [POS_WINS]-[POS_LOSSES] [POS])</small>
    </div>
    
    </td>
    <td>
        [P1]
        <div>&nbsp;</div>
    </td>
    <td>
        [P2]
        <div>&nbsp;</div>
    </td>
    <td>
        [P3]
        <div>&nbsp;</div>
    </td>
    <td>
        [P4]
        <div>&nbsp;</div>
    </td>
    <td class="scores-table-right-col">
        <span style="font-size: 25px; font-weight: bold;">[TOTAL]</span>
        <div>&nbsp;</div>
    </td>
</tr>